<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Distributeur Automatique de Billet</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/cover.css')}}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <h1>HELLO</h1>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>&copy;B.E.M</a>.</p>
        </div>
      </footer>
    </div>
    <script src="{{url_for('static',filename='bootstrap/js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
  </body>
</html>
