<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="fr" th:replace="fragments/header :: header"></head>

    <body>
        <nav th:replace="fragments/menu :: menu"></nav>

        <h2>Effectuer un virement</h2>

        <!--/*@thymesVar id="transferModel" type=""*/-->
        <form action="#" method="post" th:object="${transferModel}" th:action="@{/transfers/submit}">
            <fieldset>
                <div id="transfer">
                    <label for="sendingIBAN">IBAN émetteur: </label>
                    <input type="text" th:field="*{sendingIBAN}" size="30"/>
                    <br/>

                    <label for="amount">Montant: </label>
                    <input type="text" th:field="*{amount}" size="15"/>
                    <br/>

                    <label for="beneficiaryIban">IBAN bénéficiaire: </label>
                    <input type="text" th:field="*{beneficiaryIban}" size="30"/>
                    <br/>

                    <label for="valueDate">Date de valeur: </label>
                    <input type="date" th:field="*{valueDate}" size="30"/>
                    <br/>

                    <label for="wording">Libellé: </label>
                    <input type="text" th:field="*{wording}" size="30"/>

                </div>

                <div class="submit">
                    <button name="submit" type="submit">Envoyer</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>