<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="fr" th:replace="fragments/header :: header"></head>

    <body>
        <nav th:replace="fragments/menu :: menu"></nav>

        <div class="container text-center">
            <h1>Réaliser un virement</h1>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <!--/*@thymesVar id="transferModel" type=""*/-->
                        <form action="#" method="post" th:object="${transferModel}" th:action="@{/transfers/submit}">
                            <fieldset>
                                <br/>
                                <br/>
                                <div id="transfer">
                                    <div class="form-group">
                                        <label for="sendingIBAN">Compte émetteur</label>
                                        <select class="form-control"  th:field="*{sendingIBAN}">
                                            <option value="0">Selectionner un compte émetteur</option>
                                            <option th:each="account : ${accounts}"
                                                    th:value="${account.iban}"
                                                    th:selected="${account.iban}"
                                                    th:text="${account.iban}+' (solde: '+${account.balance}+')'"></option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label>Montant</label>
                                        <input type="text" th:field="*{amount}" size="15"/>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label for="beneficiaryIban">IBAN bénéficiaire</label>
                                        <select class="form-control"  th:field="*{beneficiaryIban}">
                                            <option value="0">Selectionner un compte bénéficiaire</option>
                                            <option th:each="beneficiaryAccount : ${beneficiaryAccounts}"
                                                    th:value="${beneficiaryAccount.iban}"
                                                    th:selected="${beneficiaryAccount.iban}"
                                                    th:text="${beneficiaryAccount.iban}+' (libelle: '+${beneficiaryAccount.name}+')'"></option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label for="valueDate">Date de valeur</label>
                                        <input type="date" th:field="*{valueDate}" size="30"/>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label for="wording">Libellé</label>
                                        <input type="text" th:field="*{wording}" size="30"/>
                                    </div>
                                    <br/>
                                </div>

                                <div class="submit">
                                    <button name="submit" type="submit" class="btn btn-primary">Valider</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>