<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="fr" th:replace="fragments/header :: header"></head>

    <body>
        <nav th:replace="fragments/menu :: menu"></nav>

        <div class="container text-center">
            <h1>Gestion des virements</h1>
        </div>

        <div class="list-group">
            <a th:href="@{/transfers/create}" class="list-group-item">Créer un virement</a>
        </div>
        <div class="list-group">
            <a th:href="@{/transfers/fraudulent}" class="list-group-item">Gestion des fraudes</a>
        </div>
    </body>
</html>