<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr" th:replace="sublime/header :: header">
</head>

<body>
<section class="billboard light">
    <header class="wrapper light">

        <nav>
            <ul>
                <li style="color:white"><a th:href="@{/connect}">Connection</a></li>
                <li style="color:white">Produits</li>
                <li style="color:white">Journal</li>
                <li style="color:white">Contact</li>
            </ul>
        </nav>
    </header>

    <div class="caption light animated wow fadeInDown clearfix">
        <h1>EIGHT</h1>
        <p>Banque mutualiste</p>
        <hr/>
    </div>
    <div class="shadow"></div>
</section><!--  End billboard  -->


<section class="services wrapper">
    <ul class="clearfix">
        <li class="animated wow fadeInDown">
            <img class="icon" src="../static/css/img/icon1.png" alt=""/>
            <span class="separator"></span>
            <h2>Actualités</h2>
            <p>Les news de la semaine</p>
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".2s">
            <img class="icon" src="../static/css/img/icon2.png" alt=""/>
            <span class="separator"></span>
            <h2>Le Groupe</h2>
            <p>Présentation du groupe</p>
        </li>
        <li class="animated wow fadeInDown"  data-wow-delay=".4s">
            <img class="icon" src="../static/css/img/icon3.png" alt=""/>
            <span class="separator"></span>
            <h2>FAQ</h2>
            <p>Foire à questions</p>
        </li>
    </ul>
</section><!--  End services  -->


<section class="video">
    <img style="height:200px" src="../static/css/img/Capture3.PNG" alt="" class="video_logo animated wow fadeInDown"/>
    <h3 class="animated wow fadeInDown">who we are and what we do</h3>

</section><!--  End video  -->

<section class="blog_posts">
    <div class="wrapper">
        <div class="title animated wow fadeIn">
            <h2>Post récents</h2>
            <h3></h3>
            <hr class="separator"/>
        </div>
    </div>
</section><!--  End blog_posts  -->


<footer>

    <img style="width:100px; height:90px" src="../static/css/img/Capture3.PNG" alt="" class="footer_logo" />
    <div class="wrapper">
        <div class="rights">
        </div>
        <nav>
            <ul>
                <li>Connection</li>
            </ul>
        </nav>
    </div>
</footer><!--  End footer  -->
<script src='../ga.js'></script>
</body>
</html>