<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr" th:replace="sublime/header :: header">
</head>
<body>
<section id="section2">
    <header class="wrapper light">
        <!-- <div id="logo1" style="width:100px; height:70px"></div>-->
        <!-- <span style="color:white; padding-top:150px; padding-left:50px; font-size:30px" >EIGHT</span>-->
        <nav>
            <ul>
                <li style="color:white">Connection</li>
                <li style="color:white">Produits</li>
                <li style="color:white">Journal</li>
                <li style="color:white">Contact</li>
            </ul>
        </nav>
    </header>

</section><!--  End billboard  -->

<div style="margin-top:15px; margin-left:12px">

</div>
<table id="StatusTable" class="table table-bordered table-striped" border="1px">
    <thead>
    <tr>
        <th>Iban</th>
        <th>Label</th>
        <th>Details</th>
        <th>Amount</th>
        <th>Recipient</th>
        <th>Date</th>

    </tr>
    </thead>
    <tbody>
    <tr data-th-each="eachNotification : ${notifications}">

        <td data-th-text="${eachNotification.iban}">...</td>
        <td data-th-text="${eachNotification.label}">...</td>
        <td data-th-text="${eachNotification.detail}">...</td>
        <td data-th-text="${eachNotification.amount}">...</td>
        <td data-th-text="${eachNotification.recipient}">...</td>
        <td data-th-text="${eachNotification.date}">...</td>
    </tr>
    </tbody>
</table>

<footer>
    <img style="width:100px; height:90px" src="../static/css/img/Capture3.PNG" alt="" class="footer_logo" />
    <div class="wrapper">
        <div class="rights">
        </div>
        <nav>
            <ul>
                <li><a href="#">Connection</a></li>
            </ul>
        </nav>
    </div>
</footer><!--  End footer  -->
<script src='../ga.js'></script>
</body>
</html>