<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>STOCK MARKET</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>EURONEXT Stock Market</h1>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script language="JavaScript" type="text/javascript">
    $(function() {
        console.log( "ready!" );
    });


    $.ajax({
        type: 'GET',
        url: 'http://192.168.4.204:9095/company/OR/src/USD/target/EUR',
        processData: true,
        data: {},
        dataType: 'text',
        success: function (data) {
            console.log('data = '+data);
        }
    });

</script>

</body>
</html>