<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            © 2018 eight.esipe.fr

            <script type="text/javascript"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript"
                    src="webjars/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript"
                    src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        </footer>
    </div>

</div>
</body>
</html>