.button-badge {
    text-decoration: none;
    padding: 1rem 1.5rem;
    position: relative;
    display: inline-block;
    border-radius: .2rem;
    transition: all ease 0.4s;
}

.button-badge:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .8em;
}

.fa {
    color: black;
}

.alert{
    background-attachment:scroll;
    background-clip:border-box;
    background-color:red;
    background-image:none;
    background-origin: padding-box;
    background-position:0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat:repeat;
    background-size: auto auto;
    border-radius: 50% 50% 50% 50%;
    display:block;
    font-size:12.8px;
    color:white;
    font-weight:400;
    line-height: 15.2px;
    min-width: 17.90px;
    padding: 2.3px 2.3px 2.3px 2.3px;
    position:absolute;
    right:-10px;
    text-align: center;
    top:-10px;
}

.tableau{
    border-width:1px;
    border-style:solid;
    border-color:black;
    margin-left: 100px;
    width:50%;
}

.ligne{
    border-width:1px;
    border-style:solid;
    border-color:#FF0000;
    width:50%;
}

